<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Student</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="form.css" />
  </head>
  <body>
    <div class="container">
      <h1>New Student</h1>
      <form action="/new" method="post">
        <div>
          Name: <input type="text" name="name" placeholder="Name" required />
        </div>
        <div>
          class:
          <input type="text" name="class" placeholder="class" required />
        </div>
        <div>
          Faculty:
          <input type="text" name="faculty" placeholder="faculty" required />
        </div>
        <div>
          Address:
          <input type="text" name="address" placeholder="address" required />
        </div>
        <div>
          <button>Submit</button>
        </div>
      </form>
      <a class="a" href="/">Back</a>
    </div>
  </body>
</html>
